{% extends "base.html" %}

{% load static %}

{% block title %}My Blog Post Title{% endblock title %}

{% block css_files %}

<link rel="stylesheet" href="{% static "blog/post-detail.css" %}" />

{% endblock css_files %}

{% block content %}
<section id="summary">
    <h2>Post Title</h2>
    <article>
        <img src="{% static "blog/images/mountains.jpg" %}" alt="Post Title">
        <address>By Jawad Swed</address>
        <div>
            Last updated on <time datetime="">July 10th</time>
        </div>
    </article>
</section>

<main>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, commodi optio? Magni, ipsa quaerat dolor
        pariatur cum facere, vitae, debitis cupiditate assumenda quam nihil. Natus odit dolore harum architecto fugiat!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium a fugiat aspernatur voluptates iure itaque
        quis nobis minima, porro qui ullam commodi officiis et, corrupti quibusdam aliquam enim quia tempora?
    </p>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, quo. Asperiores totam neque maxime aut iure, ex
        dolor quisquam deleniti delectus. Ea temporibus sapiente quidem laborum. Magnam nisi laboriosam sequi!
    </p>
</main>
{% endblock content %}